body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
header{
    background-color: rgb(184, 184, 184);
    width: 100%;
    margin-top: 0;
    position: fixed;
    justify-content: space-between;
}
h1{
    float: left;
}
li{
    float: right;
    padding: 30px;
    display: inline;
    font-size: 25px;
}
.content{
    width: 80%;
    background-color: black;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    word-wrap: break-word;
}
.image{
    text-align: center;
}
.gr{
    padding: 2px;
    margin-top: 5px;
    background-color: rgb(164, 120, 214);
}
.photos{
    color: cadetblue;
    width: 80%;
    padding: 0 5% 0 10%;
    white-space: normal;
    text-align: center;
}
footer{
    color: black;
    background-color: rgb(184, 184, 184);
}
